.home-content{
    width: 680px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.banner-img{
    width:100%;
}

.banner-container{
    padding-top: 50px;
    padding-bottom: 60px;
}

.tab-section{
    padding-top: 20px;
}
